body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.myH1{
    font-size: 3rem;
    
}
.myButtons{
    font-size: 5rem;
    border-radius: 50%;
    border: none;
    margin: 20px 30px;
    background-color: rgb(99, 99, 223);
    cursor: pointer;
}
.myButtons:active{
    background-color: rgb(160, 160, 234);
}
#display-player{
    font-size: 2rem;
 
}
#display-computer{
   line-height: 5px; 
   font-size: 2rem;
}
#display-result{
    font-size: 5rem;
    line-height: 5px;
     
}
#player-score{
    font-size: 1.5rem;
    line-height: 5px;
}
#computer-score{
    font-size: 1.5rem;
    line-height: 5px;
}
#total-chance{
    font-size: 1.5rem;
    font-weight: bold;
}#tie-game{
    font-size: 1.5rem;
    
}