.watch-container{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: azure;

}
.buttons{
    text-align: center;
    height: 50%;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(48, 47, 47);
    
}
#display-watch{
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 50px;

}
.disbtn{
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#start{
    background-color: rgb(9, 169, 116);
    color: white;
}
#start:hover{
    background-color: rgb(22, 190, 134);
}
#start:active{
    background-color: rgb(7, 169, 115);
}
#reset{
    background-color: rgb(70, 92, 172);
    color: white;
}
#reset:hover{
    background-color: rgb(69, 96, 196);
}
#reset:active{
    background-color: rgb(51, 72, 155);
}
#stop{
    background-color: rgb(161, 58, 58);
    color: white;
}
#stop:hover{
    background-color: rgb(202, 70, 70);
}
#stop:active{
    background-color: rgb(155, 40, 40);
}